{% extends "home-base.html"%}
{% block title %}Home Page{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Welcome to Our Bookstore!</h1>
    <p>Address: University of Delaware, Newark DE, 19711</p>
  </div>
  <img src="/static/img/bookstore.jpg"/>

  <!-- Footer -->
<footer>
<p>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <ul class="list-inline text-center">
        <li class="list-inline-item">
          <a href="https://twitter.com/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://facebook.com">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
      <p class="copyright text-muted">Copyright &copy; Qian Yi, Sean Bates, Yue Feng Website 2017</p>
    </div>
  </div>
</div>
</p>
</footer>

{% endblock%}
