{% extends "home-base.html"%}
{% block title %}Members{% endblock %}

{% block head%}
  {{ super() }}
{% endblock%}

{% block page_content%}
  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-user-circle" aria-hidden="true"></i> About Us</h1>
    <p>This project is developed by:
      <br><br>
      <h2>
      <a id="developer1" href="https://s3.amazonaws.com/misy350qianyi/freelancer/index.html" data-toggle="tooltip" data-placement="top" title="Really dying in MISY350!">Qian Yi</a>
      <br>
      <a id="developer2" href="https://s3.amazonaws.com/misy350-17fall-seanbates/freelancer/index.html" data-toggle="tooltip" data-placement="top" title="Cool Guy!">Sean Bates</a>
      <br>
      <a id="developer3" href="https://s3.us-east-2.amazonaws.com/misy350-17fall-yuefeng/freelancer/index.html" data-toggle="tooltip" data-placement="top" title="Thanks for reading our project :)">Yue Feng</a>
    </h2>
    </p>
  </div>
{% endblock%}

{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#developer').tooltip()
  });
  </script>
{% endblock%}
